<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Formulario Registro</title>
</head>
<body>
    <section class="form-register">
    <form action="" method="post">
        center <h4>Registro de Jugadores</h4>
        <input class="controls" type="text" name="gamers[0][name]" id="gamers" value="" placeholder="Nombre Jugador  Uno">
            <input class="controls" type="text" name="gamers[1][name]" id="gamers" value="" placeholder="Nombre Jugador Dos">
                <input class="controls" type="text" name="gamers[2][name]" id="gamers"  value="" placeholder="Nombre Jugador Tres">

        <p>Juego De Da2 - Bienvenid@s</p>
        <input class="botons" type="submit" value="Registrar">
        <p><a href="#">Apuestale a tu suerte</a></p>
        </form>
    </section>

</body>
</html>


