<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Iniciar Juego</title>
</head>
<body>
    <section class="form-register">
    <form action="" method="post">
        center <h4>Apuesta de Jugadores</h4>
        <label for="_id"></label>
        <input class="controls" type="text" name="_id" value="" placeholder="Digita el ID del Juego">
        <input class="controls" type="text" name="gamers[0][bet]" id="gamers" value="" placeholder="Apuesta del Jugador  Uno">
            <input class="controls" type="text" name="gamers[1][bet]" id="gamers" value="" placeholder="Apuesta del Jugador Dos">
                <input class="controls" type="text" name="gamers[2][bet]" id="gamers"  value="" placeholder="Apuesta del Jugador Tres">

        <p>Juego De Da2 - Bienvenid@s</p>
        <input class="botons" type="submit">
        <p><a href="#">Apuestale a tu suerte</a></p>
        </form>
    </section>

</body>
</html>
